
.idea/
=======
venv
backend/tradersplatform/db.sqlite3
backend/tradersplatform/media
backend/tradersplatform/media/profile
backend/tradersplatform/APPNAME.log
.DS_Store
./.DS_Store
.idea
traders_virtualenv

/*dbdata
dbdata*/
backend/tradersplatform/dbdata
backend/tradersplatform/dbdata/
/*__pycache__
__pycache__
__pycache__/*
*.sqlite3
