.gitignore
android/khajit/.gradle/5.4.1/
android/khajit/.gradle/buildOutputCleanup/
android/khajit/.idea/
android/khajit/app/app.iml

.idea/
=======
venv
backend/tradersplatform/db.sqlite3
backend/tradersplatform/media
backend/tradersplatform/media/profile
backend/tradersplatform/APPNAME.log
backend/tradersplatform/docker-compose.yml
.DS_Store
./.DS_Store
.idea
traders_virtualenv

/*dbdata
dbdata*/
backend/tradersplatform/dbdata
backend/tradersplatform/dbdata/
/*__pycache__
__pycache__
__pycache__/*
*.sqlite3
